# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
# Set this to your PRIMARY CONNECTION STRING found in Azure
MONGO_CONNECTION_STRING: 
#Set this to your Mongo DB name
MONGO_DB_NAME: 
