{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
to_do =get_items(DEFAULT_ITEMS)
{% block content %}
# with from todo_app.data.session_items import get_items
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        def get_todo():
        return render_template(to_do')
      </ul>
    </div>
  </div>
{% endblock %}